@using Helping_Hands_2._0.Models
@model IEnumerable<Nurse>
@{
    ViewData["Title"] = "Nurses";
}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
</head>
<body>

    <div class="container md-6">
        <h2>Active Nurses</h2>
        <div class="row">
            <div class="col-md-10">
                <input class="btn btn-success btn-sm" value="Create" onclick="location.href='@Url.Action("Create", "Conditions")'" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="card bg-light">
        <br />
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Manager</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Nurse in Model)
                {
                    <tr>
                        <td>@Nurse.FirstName</td>
                        <td>@Nurse.Surname</td>
                        <td>@Nurse.Manager</td>
                        <td>
                            <input class="btn btn-info btn-sm" value="Update" data-bs-toggle="tooltip" title="y" onclick="location.href='@Url.Action("Update","Conditions", new{id=Nurse.NurseCode})'" />
                            <input class="btn btn-danger btn-sm" value="Delete" data-bs-toggle="tooltip" title="z" onclick="location.href='@Url.Action("Delete","Conditions", new{id=Nurse.NurseCode})'" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>




</body>
</html>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    let table = new DataTable('#myTable');
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
