@using Helping_Hands_2._0.Models
@model IEnumerable<CareContract>
@{
    ViewData["Title"] = "My Care Contracts";
   
}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container md-6">
        <h2>My Care Contracts</h2>
        <div class="row">
            <div class="col-md-10">
                <input class="btn btn-success btn-sm" value="Create" onclick="location.href='@Url.Action("Create", "Conditions")'" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="card bg-light">
        <br />
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Patient Address</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var MyContract in Model)
                {
                   
                    <tr>
                        <td>@MyContract.ContractAddress</td>
                        <td>@MyContract.StartDate</td>
                        <td>@MyContract.EndDate</td>
                        <td>
                            <input class="btn btn-success btn-sm" value="More Info" data-toggle="modal" data-target="#myModal"/>
                            <input class="btn btn-success btn-sm" value="Visit" data-bs-toggle="tooltip" title="x" onclick="location.href='@Url.Action("Create","Conditions", new{id=MyContract.CareContractId})'" />

                        </td>
                    </tr>
                    
                }
            </tbody>
        </table>
    </div>
    <partial name="_MyModal" />

</body>
</html>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    let table = new DataTable('#myTable');
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
