@using Helping_Hands_2._0.Models;
@model IEnumerable<CareContract>;
@{
    ViewData["Title"] = "My Care Contracts";
   
}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container md-6">
        <h2>My Care Contracts</h2>
        <div class="row">
            <div class="col-md-10">
                <input class="btn btn-success btn-sm" value="Create" onclick="location.href='@Url.Action("Create", "Conditions")'" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="card bg-light">
        <br />
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Patient Address</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var MyContract in Model)
                {
                   
                    <tr>
                        <td>@MyContract.ContractAddress</td>
                        <td>@MyContract.StartDate</td>
                        <td>@MyContract.EndDate</td>
                        <td>
                            <input class="btn btn-success btn-sm" id="more-info-btn" value="More Info" data-toggle="modal" 
                            data-pname="@MyContract.PatientName" 
                            data-psurname="@MyContract.PatientSurname"
                            data-wound="@MyContract.WoundDescription"
                            data-EmergPName="@MyContract.EmergencyContact"
                            data-EmergPNo="@MyContract.EmergencyNo"
                            data-ClientNo="@MyContract.PhoneNumber"
                            data-target="#myModal" />
                            <input class="btn btn-success btn-sm" value="Visit" data-bs-toggle="tooltip" title="x" onclick="location.href='@Url.Action("CreateCareVisit","CareContract", new{id=MyContract.CareContractId})'" />

                        </td>
                    </tr>
                    
                }
            </tbody>
        </table>
    </div>
    <partial name="_MyModal" />

</body>
</html>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    let table = new DataTable('#myTable');
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    document.addEventListener('DOMContentLoaded', function () {
        var moreInfoBtns = document.querySelectorAll('#more-info-btn');

        moreInfoBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
              
                var PName = this.getAttribute('data-pname');
                var PSurname = this.getAttribute('data-psurname');
                var WDesc = this.getAttribute('data-wound');
                var EmergName = this.getAttribute('data-EmergPName');
                var EmergNo = this.getAttribute('data-EmergPNo');
                var ClientNo = this.getAttribute('data-ClientNo');

                
                document.getElementById('myModal').querySelector('#modalPName').innerText = PName;
                document.getElementById('myModal').querySelector('#modalPSurname').innerText = PSurname;
                document.getElementById('myModal').querySelector('#modalWound').innerHTML=WDesc;
                document.getElementById('myModal').querySelector('#modalCellNo').innerHTML = ClientNo;

                document.getElementById('myModal').querySelector('#modalEmergency').innerHTML = EmergName+':'+EmergNo;

            });
        });
    });


</script>
