@using Helping_Hands_2._0.Models
@model IEnumerable<CareContract>
@{
    ViewData["Title"] = "Care Contracts";

}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container md-6">
        <h2>Care Contracts</h2>
        <div class="row">
            <div class="col-md-10">
                <input class="btn btn-success btn-sm" value="Create" onclick="location.href='@Url.Action("Create", "Conditions")'" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="card bg-light">
        <br />
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Contract Creation Date</th>
                    <th>Contract Address</th>
                    <th>Wound Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var CC in Model)
                {
                    <tr>
                        <td>@CC.ContractDate</td>
                        <td>@CC.ContractAddress</td>
                        <td>@CC.WoundDescription</td>
                        <td>
                            <input class="btn btn-success btn-sm btnAssignTo"
                                   data-CCNo="@CC.CareContractId"
                                   data-toggle="modal"
                                   data-target="#AssignToModal"
                                   value="Assign To" />


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="AssignToModal" tabindex="-1" role="dialog" aria-labelledby="AssignToModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AssignToModalLabel">Assign To</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Render the partial view with the dynamic dropdown of nurses -->
                    <partial name="_AssignTo" />
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
</html>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    let table = new DataTable('#myTable');
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
    document.addEventListener('DOMContentLoaded', function () {
        var moreInfoBtns = document.querySelectorAll('.btnAssignTo');
        console.log('Inside');
        moreInfoBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {

                var ContractId = this.getAttribute('data-CCNo');
                document.getElementById('CareConId').innerText = ContractId;
                // Fetch the dropdown content dynamically
                //$.ajax({
                //    url: '@Url.Action("_AssignTo", "YourController")',
                //    type: 'GET',
                //    data: { careContractId: ContractId },
                //    success: function (result) {
                //        $('#AssignToModal .modal-body').html(result);
                //    }
                //});

            });
        });
    });

        //document.addEventListener('DOMContentLoaded', function () {
        //    var moreInfoBtns = document.querySelectorAll('#btnAssignTo');
        //    console.log('Inside');
        //    moreInfoBtns.forEach(function (btn) {
        //        btn.addEventListener('click', function () {

        //            var ContractId = this.getAttribute('data-CCNo');

        //            document.getElementById('AssignTo').querySelector('#ContractId').innerText = ContractId;

        //        });
        //    });
        //});
</script>
